* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'helvetica', Ariel, sans-serif;

}

body {
    background-color: #fff;
    overflow: none;
    width: 100%;


}

a {
    text-decoration: none;
    color: black;
}



/*-------Header Section------- */




.big-bold {
    font-size: 7rem;
    z-index: 5;
    overflow: none;
    animation: pop-in 2s ease-out forwards;
    text-align: center;

}

.big-bold-2 {
    font-size: 8rem;
    z-index: 7;
    animation: pop-in 3s ease-out forwards;
    text-align: center;
}

.big-bold-md {
    animation: pop-in 3s ease-out forwards;

}


header {
    width: 100%;
    overflow: hidden;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    animation: pop-in 2s ease-out forwards;

}




.btn {
    text-decoration: none;
    color: black;
    border: black 2px solid;
    padding: 10px 20px;
    margin-right: 5px;
    margin-top: 22px;
    cursor: pointer;
    border: none;
    color: black;
    z-index: 9;
    background-color: #fff;
    transform: translatey(0px);
    animation: pop-in 4s ease-out forwards;
    box-shadow: 0px 6px 8px #888888;


}


.btn:hover {
    background-color: #020201;
    color: white;
    transition: all 2s ease-in;
}


/*-------About Section------- */


.about {
    width: 80%;
    height: 30vh;
    margin: auto;
    text-align: left;
    position: relative;


}


.about p {
    z-index: 8;
    margin-top:5px;
}


.about h2 {
    z-index: 10;
    text-align: left;
    font-size: 90px;
    padding-top: 70px;



}


.about img {
    display: inline-block;
    width: 35px;

}




.empty-space {
    width: 100%;
    height: 65vh;
    margin: auto;
    background-color: #ededed;





}



/*-------Cards Section------- */


.cards-section {
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    width: 100%;
    padding: 1.5rem;
    height: 100vh;
}


.cards-section .cards {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-gap: 2%;
    justify-content: center;
    align-items: center;

}




.card {
    width: 75%;
    margin: auto;
    color: #333;

}


.card:hover > .white-circle {
    transform: translateY(-50px);
    box-shadow: 20px 20px #888888;
    transition: all 0.5s .2s ease-in-out;

}



.card h2 {
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 0 10px 0px;
    font-size: 28px;
    z-index: 5;
    position: relative;
    margin-top: 5px;

}

.card p {
    z-index: 5;
    position: relative;
}


.white-circle {
    background: #fff;
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    z-index: 4;
    overflow: hidden;


}

.white-circle img {
    height: 90px;
    width: 90px;
    justify-content: center;
    margin-top: 5px;
    opacity: 0.8;
    margin-left: 2px;

}


/*------- F&B Section ------- */



.fandb {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
}


.fandb h2 {
    font-size: 3rem;
    padding-bottom: 20px;
}

.vs-icon {
    content: "VS";
    background-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-weight: bold;
    color: #fbb034;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 23px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 87vh;
    padding: 10px;

}





.box-item {
    background: gray;
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 3rem;
    border: none;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;

}



.front-end-box {
    background-color: #738bdc;
    background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
}


.back-end-box {
    background-color: #637081;
    background-image: linear-gradient(315deg, #637081 0%, #0000 74%);
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;

}


/*-------Main Project------- */

.main-project{
    height: 100vh;
    width: 100%;
    background-color: #f73e6f;
    color: white;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 7px solid #fff;
}

.main-project h1{
    font-size: 4rem;
    margin-bottom: 5px;
    margin-top: 10px;
   
}


.main-project li{
list-style: none;
text-align: center;

    
}

.main-project h3{
text-decoration: underline;

}

.grid-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    margin-top: 50px;
}




/*-------Projects Section------- */

.projects {
    width: 100%;
    height: 60vh;
    background-color: #f5f7fa;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;


}

.project-cards {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: auto;
    cursor: pointer;


}

.ui-card {
    height: 40vh;
    width: 90%;
    background-color: #fff;
    border-radius: 30px;
    padding-top: 10%;
    box-shadow: 10px 5px 10px 5px #8888;
    overflow: hidden;


}


.ui-card:hover > .img-container img {
    opacity: 0.6;
    transition: opacity 1s ease;
}

.ui-card:hover > #second i {
    opacity: 1;
    transition: opacity 1.5s ease;

}


.fa-html5 {
    color: #f26524;

}

.fa-css3-alt {
    color: #1890CF;
}

.fa-js-square {
    color: #F1BF26;
}

.fa-react {
    color: #15AABF;
}

.fa-gem {
    color: #D91303;
}

.ui-card h2 {
    width: 90%;
    margin: auto;
    margin-left: 10%;
}

#second {

    margin-top: 0.4em;

}

#second i {
    opacity: 0.6;

}

.img-container {

    height: 76%;
    width: 90%;
    margin: 20px auto 0 auto;
    overflow: hidden;
    border-radius: 40px;
    position: relative;


}


.img-container img {
    width: 120%;
    height: 100%;
}



.bottom-section p {
    margin-left: 6%;

}



/*-------Contact Section------- */

.contact {
    width: 100%;
    height: 80vh;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
}


.large-circle {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    margin: auto;
    margin-bottom: 15px;

}



.large-circle img {
    width: 170px;
    height: 170px;
    display: flex;
    align-content: center;
    margin: auto;
    opacity: 0.9;
}


.text-section {
    width: 70%;
    align-content: center;
    margin: auto;
    text-align: center;
}


.icon-container {
    display: flex;
    align-content: center;
    margin: 10px auto;
    justify-content: space-between;
    width: 50%;

}


.icon-circle {
    background-color: #fff;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: 10px 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;


}


.icon-circle i {
    font-size: 30px;
}

.icon-circle i:hover {
    font-size: 34px;
}





/*-------footer------- */



footer {
    background-color: #fff;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;



}



footer h4 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-left: 25px;
    color: #969799;

}







/*-------End of Site------- */









/*-------@Media for xl screen------- */

@media(min-width: 1900px) {

    /*---Header Section-- */

    .big-bold {
        font-size: 10rem;

    }

    .big-bold-2 {
        font-size: 10rem;
    }

    .big-bold-md {
        font-size: 4.5rem;

    }


    .btn {
        font-size: 2rem;

    }


    /*---About Section-- */

    .about h2 {
        z-index: 10;
        text-align: left;
        font-size: 90px;
        padding-top: 160px;

    }


    .about {
        width: 60%;
        height: 30vh;
        margin: auto;
        text-align: left;
        position: relative;


    }


    .about p {
        font-size: 1.5rem;
    }

    .about img {
        display: inline-block;
        width: 50px;

    }




    /*---Cards Section-- */

    .card {
        width: 85%;
        margin: auto;
        color: #333;
        cursor: pointer;

    }

    .card h2 {
        font-size: 3rem;
    }

    .card - {
        font-size: 2rem;
    }


    .white-circle {

        height: 200px;
        width: 200px;
    }



    .white-circle img {
        height: 180px;
        width: 180px;
        justify-content: center;
        margin-top: 5px;
        opacity: 0.8;
        margin-left: 2px;
        margin-bottom: 15px;

    }


    /*---F&B Section-- */

    .fandb h2 {
        font-size: 6rem;
        padding-bottom: 20px;
    }

    .vs-icon {
        content: "VS";
        background-color: #fff;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        font-size: 25px;

    }

    .fandb p {
        font-size: 2rem;
        width: 90%;
    }


    /*---Projects Section-- */

    .img-container img {
        width: 120%;
        height: 100%;

    }

    .project-cards h2 {
        font-size: 2.5rem;
    }

    /*---Contact-- */

    .large-circle {
        width: 250px;
        height: 250px;
    }



    .large-circle img {
        width: 210px;
        height: 210px;
    }

    .contact h2 {
        font-size: 3rem;
    }

    .contact p {
        font-size: 2rem;
    }

    .icon-container {
        width: 30%;
    }

}





/* ----Tablet Responce------ */


@media(max-width: 768px) {




    /* ----Header Section-- */


    .big-bold {
        font-size: 5rem;
        z-index: 5;
        overflow: none;
        animation: pop-in 2s ease-out forwards;
        text-align: center;

    }

    .big-bold-2 {
        font-size: 5rem;
        z-index: 7;
        animation: pop-in 3s ease-out forwards;
        text-align: center;
    }


    /* ----Cards Section---- */

    .cards-section {
        padding-top: 45px;
    }

    .cards-section .cards {
        width: 100%;
        height: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        grid-gap: 2%;
        justify-content: center;
        align-items: center;

    }

    .card:hover > .white-circle {
        transform: translateY(-0px);
        box-shadow: 0 0 0;

    }

    /* ----F&B Section---- */

    .vs-icon {
        content: "VS";
        background-color: #fff;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        font-weight: bold;
        color: #fbb034;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 16px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 105vh;
        padding: 10px;

    }

    .fandb h2 {
        font-size: 2.8em;
    }





    /* ----projects Section---- */

    .ui-card {
        height: 35vh;
        width: 95%;
        background-color: #fff;
        border-radius: 30px;
        padding-top: 10%;
        box-shadow: 10px 5px 10px 5px #8888;
        overflow: hidden;


    }

    .img-container img {
        width: 120%;
        height: 100%;
        margin-top: 20px;
    }


}



/*-------@Media for Mobile------- */


@media(max-width: 500px) {

    /*----Mobile Section-header---- */


    .container {

        border-radius: 20px;

    }

    .big-bold {
        font-size: 3.3rem;
        text-align: center;
        color: white;
        margin-bottom: 5px;
    }

    .big-bold-2 {
        font-size: 2.8rem;
        text-align: center;
        margin-bottom: 20px;

    }

    .big-bold-md {
        text-align: center;
    }


    .header {
        width: 100%;
        overflow: hidden;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-bottom: 50px;

        justify-content: center;


    }



    /*----Mobile About Section---- */

    .about h2 {
        z-index: 10;
        text-align: left;
        font-size: 3rem;
        padding-top: 70px;
        margin-bottom: 15px;



    }


    .about img {
        display: inline-block;
        width: 30px;

    }

    .btn {
        font-size: 1rem;
    }


    /*---Mobile--Cards Section------- */


    .cards-section {
        padding: 1.5rem;
        height: 100%;
        margin-bottom: 10px;
    }


    .cards-section .cards {
        width: 100%;
        height: 135%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        grid-gap: 2%;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;

    }




    .card {
        width: 75%;
        height: 100%;
        margin: 10px auto 0 auto;
        color: #333;
        transition: translateY 4s linear;
        transition: box-shadow 4s ease-in-out;



    }

    .card:hover > .white-circle {
        transform: translateY(-20px);
        box-shadow: 20px 20px #888888;
    }



    .card h2 {
        font-weight: bold;
        text-transform: uppercase;
        padding: 6px 0 10px 0px;
        font-size: 28px;
        z-index: 5;
        position: relative;
        margin-top: 20px;

    }

    .card p {
        z-index: 5;
        position: relative;
    }


    .white-circle {
        background: #fff;
        height: 100px;
        width: 100px;
        margin: auto;
        border-radius: 50%;
        z-index: 4;


    }

    /*----Mobile---F&B Section------- */
    .fandb {
        height: 75vh;
    }


    .fandb h2 {
        font-size: 2rem;
        padding-bottom: 20px;
    }

    .vs-icon {
        content: "VS";
        background-color: #fff;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        font-weight: bold;
        color: #fbb034;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 11px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 90vh;
        padding: 10px;

    }


    .box-item {
        background: gray;
        height: 75vh;
        width: 100%;
        margin: auto;
        padding: 1.5rem;
        border: none;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: -5px;

    }


    .box-item p {
        font-size: 14px;
    }



    .front-end-box {
        background-color: #738bdc;
        background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-self: center;
        padding-right: 1.6em;
    }


    .back-end-box {
        background-color: #637081;
        background-image: linear-gradient(315deg, #637081 0%, #0000 74%);
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-self: center;
        padding-left: 1.6em;
    }
    
    
    /*----Mobile---Main Project Section ------- */  

    .main-project h1{
      font-size: 37px;
      margin-bottom: 35px;
    }
    

    /*----Mobile---Projects Section ------- */


    .projects {
        display: none;
    }

    /*----Mobile---Contact------- */



    .icon-container {
        width: 250px;
        align-items: center;
        justify-content: center;
    }



}











/*-------CSS Animations------- */

/* ----------------------------------------
 * animation Pop in
 * ----------------------------------------
 */

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.7);
        border-radius: 80px;
        box-shadow: 3px 3px 3px #ccc;

    }

    100% {
        opacity: 1;
        transform: none;
        border-radius: 0px;


    }
}

/* ----------------------------------------
 * animation Bounce
 * ----------------------------------------
 */

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-5px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}






/*-------Grow Card------- */


.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.3s 0.1s ease-in-out;
}
