@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');




* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Helvetica', Ariel, sans-serif;

}

body {
    background-color: #fff;
    overflow: none;
    width: 100%;


}

a {
    text-decoration: none;
    color: black;
}

ul li {

    list-style-type: none;
}



/*-------Header Section------- */

.svgimg {
    position: absolute;
    width: 100%;
    height: 110%;
    overflow: hidden;

}

svg {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    bottom: 3px;


}



.big-bold {
    font-size: 6rem;
    z-index: 5;
    overflow: none;
    animation: pop-in 2s ease-out forwards;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 3px;
    pointer-events: none;

}

.big-bold {
    font-size: 6rem;
    z-index: 7;
    animation: pop-in 3s ease-out forwards;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 8.5px;
    pointer-events: none;
    border-radius: 8px;


}




header {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbb034;
    animation: pop-in 2s ease-out forwards;
    position: relative;


}




.btn {
    text-decoration: none;
    color: black;
    border: black 2px solid;
    padding: 10px 20px;
    margin-right: 5px;
    margin-top: 22px;
    cursor: pointer;
    border: solid 3px #249BD6;
    color: black;
    z-index: 10;
    background-color: #fff;
    transform: translatey(0px);
    border-radius: 20px;

}


.btn:hover {
    background-color: #020201;
    color: white;
    transition: all 2s ease-in;
}


#contact-click {
    display: none;
}





/*-------About Me Section------- */



.about-me {
    width: 100%;
    height: 100vh;
    margin-top: 15px;
    background: #fff;
    overflow: hidden;
    position: relative;

}

.about-me svg {
    opacity: 1;
    position: relative;
    background-color: #FBB036;
}

.about-me-section {
    position: absolute;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

}

.about-me h1 {
    font-size: 4.8rem;
    z-index: 7;
    text-align: center;
    padding: 8.5px;
    pointer-events: none;
    border-radius: 8px;
    animation: pop-in 1s ease-out forwards;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    margin-top: 20px;

}



/*-------More About Me Section------- */


.more_about-me {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 40px;
    position: relative;
    background-color: #fff;
}




.more_about-me h1 {
    font-family: 'Satisfy', cursive;
    font-size: 4.2rem;
    margin-bottom: 20px;

}


.more_about-me p {
    width: 80%;
    margin-right: 10px;
    font-size: 2rem;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-transform: lowercase;


}


.highlight-container {
    position: relative;
    display: inline-block;
    font-size: 2.3rem;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-transform: lowercase;

}


.highlight::before {
    content: ' ';
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: rgb(251, 176, 54, 0.4);
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 5% 25% 20% 24%;
    padding: 12px 3px 3px 8px;
    animation: higlight-in 7s 1.5s ease-in-out infinite;
}

.highlight2::before {
    content: ' ';
    display: block;
    height: 90%;
    width: 100%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: rgb(251, 176, 54, 0.4);
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 5% 25% 20% 24%;
    padding: 12px 3px 3px 8px;
    animation: higlight-in 7s 1.9s ease-in-out infinite;
}






.about-content {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

.about_me_img {
    position: relative;

}

.sim_img {
    width: 420px;

}

.light_img {
    position: absolute;
    top: -20px;
    right: 60px;
    width: 150px;
    transform: rotate(19deg);
    opacity: 0.8;

}


.textbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}










/*-------Cards Section------- */


.cards-section {
    background-color: #FBB036;
    width: 100%;
    padding: 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.cards-section .cards {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-gap: 2%;
    justify-content: center;
    align-items: center;


}




.card {
    width: 75%;
    margin: auto;
    color: #333;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}


.card:hover > .white-circle {
    transform: translateY(-50px);
    box-shadow: 20px 20px #888888;
    transition: all 0.5s .2s ease-in-out;

}



.card h2 {
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 0 10px 0px;
    font-size: 28px;
    z-index: 5;
    position: relative;
    margin-top: 5px;
    color: #fff;

}

.card p {
    z-index: 5;
    position: relative;
}


.white-circle {
    background: #E66888;
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50%;
    z-index: 4;
    overflow: hidden;


}

.white-circle img {
    height: 90px;
    width: 90px;
    justify-content: center;
    margin-top: 5px;
    opacity: 0.8;
    margin-left: 2px;

}


/*------- F&B Section ------- */



.fandb {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
}


.fandb h2 {
    font-size: 3rem;
    padding-bottom: 25px;
}

.vs-icon {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-weight: bold;
    color: #E66888;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 23px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 87vh;
    padding: 10px;

}

.vs-icon img {
    width: 110px;
    height: 110px;
}





.box-item {
    background: gray;
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: 3rem;
    border: none;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;

}



.front-end-box {
    background-color: #37A5D9;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
}


.back-end-box {
    background-color: #83D0BB;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;

}


.skills-bullble li {
    color: black;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 7px;
    display: inline-block;
    border: none;
}



/*-------Skills click Section------- */
.skills-click {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-click h3 {
    margin-right: 15px;
}

.skills-click button {
    font-size: 1.17em;
    background-color: #F1CF4D;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 1s ease-in;

}

.skills-click button:hover {
    background-color: #E34F67;
    color: #fff;
}

button:focus {
    outline: 0;
}


/*-------Skills Section------- */

.skills {
    height: 110vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 40px;
    position: relative;
    background-color: #FBB036;
    padding: 10px 0;
    display: none;
}

.skills.show {
    display: flex;
}


.clip-card h3 i {
    color: white;
    font-size: 25px;
    margin-bottom: 6px;
}

.clip-card p {
    margin-top: 5px;
    font-size: 18px;
}

.clip-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 55px;
    width: 100%;
    margin: auto;
    padding: 10px 0;



}

.clip-card {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 15px auto;
    border-radius: 40px 40px 40px 40px;
    min-width: 350px;
    max-width: 560px;
    background-color: #fff;
    display: flex;

}


.clip-card .clip-header {
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background: blue;
    color: white;
    font-family: 'Playfair Display', serif;
    clip-path: circle(40% at 0% 0%);
    transition: all 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    border-radius: 40px 40px 40px 40px;


}



.clip-card-1 .clip-header {
    background: #f4723a;


}

.clip-card-1:hover .clip-header {
    background: #ff5959
}

.clip-card-2 .clip-header {
    background: #23abef;
}

.clip-card-2:hover .clip-header {
    background: #22d1ee;
}

.clip-card-3 .clip-header {
    background: #ffd717;
}

.clip-card-3:hover .clip-header {
    background: #5be7a9;
}

.clip-card-4 .clip-header {
    background: #E34F67;
}

.clip-card-4:hover .clip-header {
    background: #d91303;
}


.clip-card-5 .clip-header {
    background: #83D0BB;
}

.clip-card-5:hover .clip-header {
    background: #00d1ff;
}

.clip-card-6 .clip-header {
    background: #805D9A;
}

.clip-card-6:hover .clip-header {
    background: #ff1f5a;
}





.clip-card .clip-header p {
    opacity: 0;
    transition: all 1.4s cubic-bezier(0.645, 0.045, 0.355, 1);

}

.clip-card:hover .clip-header {
    clip-path: circle(100% at 60% 60%);
    width: 100%;
    height: 100%;


}

.clip-card:hover .clip-header p {
    opacity: 1;
    height: 100%;

}

.clip-card .clip-header h3,
.clip-card .clip-header h4 {
    margin: 0 !important;
    padding: 0;

}



/*-------Main Project------- */

.main-project {
    height: 100vh;
    width: 100%;
    background-color: #f73e6f;
    background-image: url("Media/Mataura.png");
    background-size: cover;
    color: white;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 7px solid #fff;
    position: relative;
    z-index: 5;
}

.main-project::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f73e6f;
    opacity: .9;
    z-index: -1;
}




.main-project h1 {
    font-size: 4rem;
    margin-bottom: 5px;
    margin-top: 10px;

}


.main-project li {
    list-style: none;
    text-align: center;


}

.main-project h3 {
    text-decoration: underline;

}

.grid-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}




/*-------Projects Section------- */

.projects {
    width: 100%;
    height: 60vh;
    background-color: #f5f7fa;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;


}

.project-cards {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: auto;
    cursor: pointer;


}

.ui-card {
    height: 40vh;
    width: 90%;
    background-color: #fff;
    border-radius: 15px;
    padding-top: 10%;
    box-shadow: 10px 5px 10px 5px #8888;
    overflow: hidden;


}


.ui-card:hover > .img-container img {
    opacity: 0.6;
    transition: opacity 1s ease;
}

.ui-card:hover > #second i {
    opacity: 1;
    transition: opacity 1.5s ease;

}


.fa-html5 {
    color: #f26524;

}

.fa-css3-alt {
    color: #1890CF;
}

.fa-js-square {
    color: #F1BF26;
}

.fa-react {
    color: #15AABF;
}

.fa-gem {
    color: #D91303;
}

.ui-card h2 {
    width: 90%;
    margin: auto;
    margin-left: 10%;
}

#second {

    margin-top: 0.4em;

}

#second i {
    opacity: 0.6;

}

.img-container {

    height: 76%;
    width: 90%;
    margin: 20px auto 0 auto;
    overflow: hidden;
    border-radius: 40px;
    position: relative;


}


.img-container img {
    width: 120%;
    height: 100%;
}



.bottom-section p {
    margin-left: 6%;

}



/*-------Contact Section------- */

.contact {
    width: 100%;
    height: 80vh;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
}


.large-circle {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    margin: auto;
    margin-bottom: 15px;

}



.large-circle img {
    width: 170px;
    height: 170px;
    display: flex;
    align-content: center;
    margin: auto;
    opacity: 0.9;
}


.text-section {
    width: 70%;
    align-content: center;
    margin: auto;
    text-align: center;
}


.icon-container {
    display: flex;
    align-content: center;
    margin: 10px auto;
    justify-content: space-between;
    width: 50%;

}


.icon-circle {
    background-color: #fff;
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: 10px 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;


}


.icon-circle i {
    font-size: 30px;
}

.icon-circle i:hover {
    font-size: 34px;
}





/*-------footer------- */



footer {
    background-color: #fff;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;



}



footer h4 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-left: 25px;
    color: #969799;

}






/*-------POP UP------- */

.inner-phone {
    position: absolute;
}


.chat {
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    height: 100%;
    padding-bottom: 20px;
    font-size: 25px;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 3;
    height: 90%;
    font-size: 20px;


}

.chat:nth-child(4) {
    animation-delay: 1.5s;
}

.chat a {
    color: #fff;
}

.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    animation: fadeIn 4s ease-in;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
}

.yours {
    align-items: flex-start;
}

.yours .message {
    margin-right: 25%;
    background-color: #fff;
    position: relative;
}

.yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #fff;
    border-bottom-right-radius: 15px;
}

.yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: #F2F2F5;
    border-bottom-right-radius: 10px;
}

.mine {
    align-items: flex-end;
}

.mine .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #1BA8ED 0%, #1BA8ED 100%);
    background-attachment: fixed;
    position: relative;
}

.mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #1BA8ED 0%, #1BA8ED 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 10px;
}

.mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: #F2F2F5;
    border-bottom-left-radius: 10px;
}


.inner-phone {
    position: relative;

}


.phone {
    width: 360px;
    height: 740px
}

.contact-pop {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    display: none;
    animation: fadeIn 2s ease-in;

}







/*-------End of Site------- */









/*-------@Media for xl screen------- */

@media(min-width: 1900px) {

    /*---Header Section-- */

    .big-bold {
        font-size: 10rem;

    }

    .big-bold-2 {
        font-size: 10rem;
    }

    .big-bold-md {
        font-size: 4.5rem;

    }


    .btn {
        font-size: 2rem;

    }



    /*---More About Me Section------- */




    .more_about-me h1 {
        font-size: 4.5rem;
        margin-top: 40px;
    }

    .sim_img {
        width: 450px;

    }

    .light_img {
        right: 200px;
        width: 160px;
    }





    /*---Cards Section-- */

    .card {
        width: 85%;
        margin: auto;
        color: #333;
        cursor: pointer;

    }

    .card h2 {
        font-size: 3rem;
    }

    .card - {
        font-size: 2rem;
    }


    .white-circle {

        height: 200px;
        width: 200px;
    }



    .white-circle img {
        height: 180px;
        width: 180px;
        justify-content: center;
        margin-top: 5px;
        opacity: 0.8;
        margin-left: 2px;
        margin-bottom: 15px;

    }


    /*---F&B Section-- */

    .fandb h2 {
        font-size: 6rem;
        padding-bottom: 20px;
    }

    .vs-icon {
        content: "";
        background-color: #fff;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        font-size: 25px;

    }

    .fandb p {
        font-size: 2rem;
        width: 90%;
    }


    /*---Projects Section-- */

    .img-container img {
        width: 120%;
        height: 100%;

    }

    .project-cards h2 {
        font-size: 2.5rem;
    }

    /*---Contact-- */

    .large-circle {
        width: 250px;
        height: 250px;
    }



    .large-circle img {
        width: 210px;
        height: 210px;
    }

    .contact h2 {
        font-size: 3rem;
    }

    .contact p {
        font-size: 2rem;
    }

    .icon-container {
        width: 30%;
    }

}


/* ----window reduce Responce------ */

@media(max-width: 1062px) {

    .big-bold {
        font-size: 5rem;
    }

    .big-bold-2 {
        font-size: 5rem;

    }

    .skills-click {
        display: none
    }

    ;

}







/* ----Tablet Responce------ */


@media(max-width: 768px) {




    /* ----Header Section-- */


    .big-bold {
        font-size: 5rem;
        z-index: 5;
        overflow: none;
        animation: pop-in 2s ease-out forwards;
        text-align: center;

    }

    .big-bold-2 {
        font-size: 5rem;
        z-index: 7;
        animation: pop-in 3s ease-out forwards;
        text-align: center;
    }


    #contact-click {
        display: block;
    }

    #phone-click {
        display: none;
    }


    /* ----About Me-- */

    .about-me h1 {
        font-size: 3.5rem;

    }


    /* ----Cards Section---- */

    .cards-section {
        padding-top: 45px;
    }

    .cards-section .cards {
        width: 100%;
        height: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        grid-gap: 2%;
        justify-content: center;
        align-items: center;

    }

    .card:hover > .white-circle {
        transform: translateY(-0px);
        box-shadow: 0 0 0;

    }



    /*---More About Me Section------- */

    .about-content {
        display: grid;
        grid-template-columns: 1fr;
    }


    .more_about-me h1 {
        font-size: 3.5rem;
    }

    .sim_img {
        width: 250px;

    }

    .light_img {
        right: 200px;
        width: 100px;
    }


    .more_about-me p {
        font-size: 18px;
    }


    .highlight-container {
        font-size: 1.5rem;
    }


    /*-------Skills Section------- */

    .skills {
        opacity: 0;
        width: 0px;
        height: 0px;
    }


    /* ----F&B Section---- */

    .vs-icon {
        content: "";
        background-color: #fff;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        font-weight: bold;
        color: #fbb034;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 16px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 105vh;
        padding: 10px;

    }

    .fandb h2 {
        font-size: 2.8em;
    }





    /* ----projects Section---- */

    .ui-card {
        height: 35vh;
        width: 95%;
        background-color: #fff;
        border-radius: 30px;
        padding-top: 10%;
        box-shadow: 10px 5px 10px 5px #8888;
        overflow: hidden;


    }

    .img-container img {
        width: 120%;
        height: 100%;
        margin-top: 20px;
    }

    .skills {
        display: none;
    }


}



/*-------@Media for Mobile------- */


@media(max-width: 500px) {

    /*----Mobile Section-header---- */


    .container {

        border-radius: 20px;


    }

    .mainsvg {
        transform: scale(1.9);
    }


    .big-bold {
        font-size: 2.5rem;
        text-align: center;
        color: #000;
        margin-bottom: 5px;
        padding: 4px;
        background: #fff;
    }

    .big-bold-2 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 20px;
        padding: 4px;
        background: none;

    }




    .header {
        width: 100%;
        overflow: hidden;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        margin-bottom: 50px;
        justify-content: center;


    }
    
    
     #contact-click {
        display: block;
    }

    #phone-click {
        display: none;
    }


    /*---About Me Section------- */

    .about-me {
        display: none;
    }





    /*---More About Me Section------- */

    .about-content {
        display: grid;
        grid-template-columns: 1fr;
    }


    .more_about-me h1 {
        font-size: 2.5rem;
    }

    .sim_img {
        width: 240px;

    }

    .light_img {
        right: 30px;
        width: 100px;
    }


    .more_about-me p {
        font-size: 18px;
    }


    .highlight-container {
        font-size: 1.3rem;
    }

    .more_about-me {
        height: 100%;

    }


    /*---Mobile--Cards Section------- */


    .cards-section {
        padding: 1.5rem;
        height: 100%;
        margin-bottom: 10px;
    }


    .cards-section .cards {
        width: 100%;
        height: 135%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        grid-gap: 2%;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;

    }




    .card {
        width: 75%;
        height: 100%;
        margin: 10px auto 0 auto;
        color: #333;
        transition: translateY 4s linear;
        transition: box-shadow 4s ease-in-out;



    }

    .card:hover > .white-circle {
        transform: translateY(-20px);
        box-shadow: 20px 20px #888888;
    }



    .card h2 {
        font-weight: bold;
        text-transform: uppercase;
        padding: 6px 0 10px 0px;
        font-size: 28px;
        z-index: 5;
        position: relative;
        margin-top: 20px;

    }

    .card p {
        z-index: 5;
        position: relative;
    }


    .white-circle {
        background: #fff;
        height: 100px;
        width: 100px;
        margin: auto;
        border-radius: 50%;
        z-index: 4;


    }

    /*----Mobile---F&B Section------- */
    .fandb {
        height: 75vh;
        display: none;
    }


    .fandb h2 {
        font-size: 2rem;
        padding-bottom: 20px;
    }

    .vs-icon {
        content: "VS";
        background-color: #fff;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        font-weight: bold;
        color: #fbb034;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 11px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 90vh;
        padding: 10px;

    }


    .box-item {
        background: gray;
        height: 75vh;
        width: 100%;
        margin: auto;
        padding: 1.5rem;
        border: none;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: -5px;

    }


    .box-item p {
        font-size: 14px;
    }



    .front-end-box {
        background-color: #738bdc;
        background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-self: center;
        padding-right: 1.6em;
    }


    .back-end-box {
        background-color: #637081;
        background-image: linear-gradient(315deg, #637081 0%, #0000 74%);
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-self: center;
        padding-left: 1.6em;
    }


    .skills-bullble li {
        color: black;
        background-color: #fff;
        border-radius: 20px;
        padding: 5px 10px;
        margin: 7px;
        display: inline-block;
        font-size: 14px;

    }

    .skills {
        display: none;
    }


    /*----Mobile---Main Project Section ------- */

    .main-project h1 {
        font-size: 37px;
        margin-bottom: 35px;
        margin-top: 1px;
    }


    /*----Mobile---Projects Section ------- */


    .projects {
        display: none;
    }

    /*----Mobile---Contact------- */



    .icon-container {
        width: 250px;
        align-items: center;
        justify-content: center;
    }



}









/*-------CSS Animations------- */

/* ----------------------------------------
 * animation Pop in nad fade in
 * ----------------------------------------
 */

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.7);



    }

    100% {
        opacity: 1;
        transform: none;



    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

/* ----------------------------------------
 * Higlight-in
 * ----------------------------------------
 */


@keyframes higlight-in {
    0% {
        opacity: 0;
        width: 0%;
        border-radius: 40% 45% 40% 44%;
    }

    40% {
        opacity: 1;
        width: 100%;
        border-radius: 5% 25% 20% 24%;

    }

    100% {
        opacity: 1;
        width: 100%;
    }
}







/*-------Grow Card------- */


.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.3s 0.1s ease-in-out;
}
